.aboutContainer {
    width: 100%;
    display: flex;
    padding: 2%;
    flex-direction: column;
    /* overflow: scroll; */
}

/* .aboutContainer::-webkit-scrollbar {
    display: none;
} */

.credContainer {
    margin: 2% 0;   
}

.name {
    letter-spacing: 0.15em;

}

.title {
    letter-spacing: 0.15em;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.2em;
}


.skillsAndEducation {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    flex-wrap: wrap;
}

.educationContainer {
    display: flex;
    flex: 0.5;
    padding: 1%;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.skillsContainer {
    flex: 0.5;
    /* border: 1px solid black; */
    padding: 1%;
    box-sizing: border-box;
    /* overflow: scroll; */
}


.educationTitle {
    font-weight: bold;
    
}

.educationList {
    margin-top: 2%;
    list-style-type: disc;

}

.skillsButtonContainer {
    display: grid;
    grid-template: 25% 25% 25% 25% / 50% 50%;
    margin-top: 2%;
    overflow: visible;
}

@media only screen and (max-width: 600px) {
    .skillsAndEducation {
        flex-direction: column;
    }
}


@media only screen and (min-width: 768px) {
    .aboutContainer {
        overflow: scroll;
    }

    .aboutContainer::-webkit-scrollbar {
        display: none;
    }

    
}