.projectCardContainer {
    width: 50%;
    box-shadow:  5px -5px 5px #436178,
             -5px 5px 5px #afffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 5%;
    box-sizing: border-box;
    padding: 1%;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.techStack {
    font-weight: bold;
    font-size: 1em;
    word-wrap: break-word;
}


.projectCardContainer:hover {
    /* padding: 5%; */
    width: 100%;
}

.techStackContainer {
    text-align: center;
}